#Database Configuration
DATABASE_URL=postgresql: your postgresql database connection string 

# Redis Configuration
REDIS_URL=redis: your redis url

# JWT Configuration
ACCESS_TOKEN_SECRET=your jwt ACCESS_TOKEN_SECRET
REFRESH_TOKEN_SECRET=your jwt REFRESH_TOKEN_SECRET
ACCESS_TOKEN_EXPIRY=7d
REFRESH_TOKEN_EXPIRY=15m

# Port
PORT=3000
NODE_ENV="development"
